<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>User 상세보기</title>
<th:block th:replace="fragments/header"> </th:block>
</head>


<th:block th:replace="fragments/side" > </th:block>

<body th:align="center">
<div style="margin-left:25%">
<h2>User 상세정보</h2>
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0" th:width="700">
<tr>
	<th bgcolor="orange" width="100">id</th>
	<th bgcolor="orange" width="100">email</th>
	<th bgcolor="orange" width="100">name</th>
</tr> 
<tr>
	<td th:text="${user.id}"></td>
	<td th:text="${user.email}"></td>
	<td th:text="${user.name}"></td>
</tr>
</table>
<br>
<a th:href="@{/user/getUserList}">User 목록</a>
</div>
<br>
<th:block th:replace="fragments/footer"> </th:block>

</body>
</html>
