<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>About Us</title>
<th:block th:replace="fragments/header"> </th:block>
</head>

<th:block th:replace="fragments/side" > </th:block>

<body th:align="center">
<div style="margin-left:25%">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <hr>
                    <h1>About Us</h1>
                    <p align=left>
                    먼 옛날 인류는 바다에서 잉태되었고, 고대에는 바다를 통해 문명을 창조하였으며,
					근대에는 바다를 통해 산업혁명을 이루었고, 현대에는 바다를 통해 세계를 지배하고있습니다.</p>

					<p align=left >
					목포해양대학교는 60년대와 70년대 국가부흥의 기틀이 된 상선사관을 배출하였고,
					80년대와 90년대는 해상물류수송과 조선산업 및 해양 IT 산업의 국가기간인력을 양성하였으며,
					현재는 신해양 시대의 원동력이 될 글로벌 해양 리더 양성에 매진하고 있습니다.</p>

					<p align=left >
					목포해양대학교는 장보고 대사의 해양개척정신과 17세기 영국의 월터 롤리경이 주창한
					해상무역을 통한 국가 부흥 전략을 바탕으로 도약하고 있습니다.</p>
                </div>
            </div>
        </div>
    </section>
</div>
<br>
<th:block th:replace="fragments/footer"> </th:block>

</body>
</html>